<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/nav') %>
    <header class="encabezado">
        <h1>Welcome! to API</h1>
    </header>
    <main>
        <div class="row">
            <div class="col-md-6 offset-md-3">
              <!-- <form action="/create" method="POST">
                <div class="mb-3">
                  <label class="form-label">titulo</label>
                  <input type="text" class="form-control" name="nombre">
                  
                </div>
                <div class="mb-3">
                  <label class="form-label">fechaInicio</label>
                  <input type="date" class="form-control" name="fechaInicio">
                </div>
                <div class="mb-3">
                  <label class="form-label">fechaTentativa</label>
                  <input type="date" class="form-control" name="fechaTentativa">
                </div>
                <div class="mb-3">
                  <label class="form-label">fechaFin</label>
                  <input type="date" class="form-control" name="fechaFin">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form> -->
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">URL</th>
                    <th scope="col">METHOD</th>
                    <th scope="col">Descripcion</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>http://localhost:3000/list</td>
                    <td>GET</td>
                    <td>retorna una lista de JSON con las tareas</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>http://localhost:3000/:id/details</td>
                    <td>GET</td>
                    <td>Retorna un JSON del la tarea pasa como parametro</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>http://localhost:3000/create</td>
                    <td>POST</td>
                    <td><span style="font-weight: bold;">@param body:</span> nombre, fechaTentativa, fechaInicio, fechaFin todos tipo Date salvo el nombre -> text</td>
                  </tr>

                  <tr>
                    <th scope="row">4</th>
                    <td>http://localhost:3000/:id/update</td>
                    <td>POST</td>
                    <td>actualiza la tarea del id pasado como parametro
                      <span style="font-weight: bold;">@param body:</span> nombre, fechaTentativa, fechaInicio, fechaFin todos tipo Date salvo el nombre -> text
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>http://localhost:3000/:id/delete</td>
                    <td>POST</td>
                    <td>Elimina la tarea que ah sido enviada como parametro</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>